<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >
  <display-name>Archetype Created Web Application</display-name>
  
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/login.html</form-login-page>
  		<form-error-page>/erroLogin.html</form-error-page>
  	</form-login-config>
  </login-config>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Seguranca</web-resource-name>
  		<description>asdf</description>
		<http-method>GET</http-method>
		<url-pattern>/interno/*</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>manager-gui</role-name>
  	</auth-constraint>  
  </security-constraint>
</web-app>
